*{
    margin: 0;
    padding: 0;
}
html{
    height: 3000px;
}

header{
    height: 80px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    
}
nav{
    padding-top: 18px;
    margin-left: 20px;
    width: 60%;

}
nav a{
    text-decoration: none;
    color:rgb(72, 71, 70) ;
    margin-left: 30px;
}

nav a:hover{
    color: rgb(206, 124, 206);
    -o-transition-delay: 0.05s;
    transition-duration: 1s;
    
}

.top_Icons{
    background-color: rgb(58, 63, 63);
    width: 20%;
    margin-left: 0px;
    padding-top: 18px;
    

}

.log_In{
    padding-top: 18px;
    background-color: gold;
    color:rgb(117, 89, 144);
    opacity: 0.80;
    width: 10% ;
    margin-right: 0px;
}
.log_In a{
    text-decoration: none;
    font-weight: bolder;
}
.log_In a:hover{
    transition-duration: 1s;
    transition-delay: 0.25s;
    color: rgb(226, 67, 226);
}


.Riley_background_image{
    width: 100%;
    margin-top: ;
}
img{
    width: fit-content;
}
@media(max-width:400px){
    nav{
        display:none;
    }
    .log_In{
        display: none;
    }
    .top_Icons{
        width: 80%;
    }

    .menu_symbol{
        width: 20%;
        padding: 20px;
        margin-left: 25px;
    
    }
    
    .menu_symbol_child{
        width: 20px;
        height: 0.1px;
        border: 3px solid black;
        margin-bottom: 3px;
    }
}
