*{
    margin: 0;
    padding: 0;
}


header{
    height: 80px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    
}
nav{
    padding-top: 18px;
    margin-left: 20px;
    width: 70%;

}
nav a{
    text-decoration: none;
    color:rgb(72, 71, 70) ;
    margin-left: 30px;
}

nav a:hover{
    color: rgb(206, 124, 206);
    transition-delay: 0.05s;
    transition-duration: 1s;
    
}

.top_Icons{
    background-color: rgb(58, 63, 63);
    width: 26%;
    margin-left: 0px;
    padding-top: 18px;
}

.top_Icons_items{
    width: 7%;
    padding-left: 28px;
    justify-items: center;
    margin-left: 15px;
}

.top_Icons_items:hover{
    cursor: pointer;
    
    
}

.log_In{
    color:rgb(117, 89, 144);
    opacity: 0.80;
    width: 10% ;
    display: flex;
    flex-direction: row;
    padding: 0%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.log_In_Icon{
    width: 20%;
    padding:20px;
   
 
}
.log_In a{
    text-decoration: none;
    font-weight: bolder;
    
}
.log_In a:hover{
    transition-duration: 1s;
    transition-delay: 0.25s;
    color: rgb(226, 67, 226);
}



.Riley_background_image{
    top: 300px;
}

.first_section_desktop_view{
    width: 100%;
    height: 100%;
}
.first_section_mobile_view{
    display: none;
    position: relative;
}
.first_section_text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    position: absolute;
    margin-bottom: 20px;
    font-size: 24px;
    top: 150px;
    left: 13px;

}

@media(max-width:400px){
    
    nav{
        display:none;
    }
    .log_In{
        display: none;
    }
    .top_Icons{
        width: 80%;
        
    }

    .top_Icons_items{
        width: 10%;
        padding: 10px;
    }
    .menu_symbol{
        width: 20%;
        padding: 10px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .menu_symbol:hover{
        cursor: pointer;
    }
    
   
    .first_section_desktop_view{
        display: none;
        

    }
    .first_section_mobile_view{
        display:block;
        width: 100%;
        height: 550px;
    }

    
  
}
